<!DOCTYPE html>
<html lang="uk-UA" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Basket</title>
    <font color="#000000" size="7">
        <center> ТОВАРИ В КОШИКУ</center>
    </font>
</head>

<body style="background-color:#ffffcc;">
<table border="1" style="width:800px">
    <tr>
        <td>Назва лікарського засобу</td>
        <td>доза</td>
        <td>форма</td>
        <td>ціна</td>
        <td>кількість</td>
        <td>вартісь</td>
    </tr>

    <tr th:each="order : ${orderList}" align="center">
        <form method="get" action="/buy">
            <td th:text="${order.items.medicine.id.name}"></td>
            <td th:text="${order.items.medicine.id.dose}"></td>
            <td th:text="${order.items.medicine.id.form}"></td>
            <td th:text="${order.items.pricePerUnit}"></td>
            <td th:text="${order.items.quantity}"></td>
            <td th:text="${order.items.cost}"></td>
        </form>
    </tr>
</table>

<table border="1" style="width:150px" align="right">
    <td th:text="ОПЛАТИТИ"></td>
    <td th:text="${sum}"></td>
</table>

<form method="get" action="/dispatch">
    <input type="submit" class="btn btn-secondary float-right" value="РОЗРАХУВАТИСЯ"
           style="position: absolute;bottom: 40px;left: 800px; height:50px;width:300px; background-color:#66ff99; border-color:blue; color:black;">
</form>
</body>
</html>
