<!DOCTYPE html>
<html lang="uk-UA" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>handbook</title>
    <font color="#000000" size="7">
        <center> ОБЕРІТЬ ЛІКАРСЬКИЙ ЗАСІБ ДЛЯ КУПІВЛІ </center>
    </font>

</head>
<body style="background-color:#ffffcc;">
<form action="/showMedicinesFromPharmacyWareHouse" method="get" style="margin-top: 50px">
    <table>
        <tr>
            <font color="#3344FF" size="3">ВИБЕРІТЬ ЛІКАРСЬКИЙ ЗАСІБ:</font>
            <td>
                <select name="name" id="name">
                    <option value=""> -- </option>
                    <option th:each="onWarehouse : ${medicines}"
                            th:value="${onWarehouse}"
                            th:utext="${onWarehouse}"/>
                </select>
            </td>
            <td><input name="submit" type="submit" value="ПОШУК" style="background-color:#66ff99; border-color:blue; color:black;" /></td>
        </tr>
    </table>
</form>
<br>
<form method="get" action="/checkout">
    <input type="submit" class="btn btn-secondary float-right" value="ЗАВЕРШИТИ ПОКУПКИ" style="position: absolute;bottom: 40px;left: 800px; height:50px;width:300px; background-color:#66ff99; border-color:blue; color:black;">
</form>

</body>
</html>