<!DOCTYPE html>
<html lang="uk-UA">
<head>
    <meta charset="UTF-8">
    <title>Welcome page</title>
    <img , src="img/welcome.png" width="100%"><br>
</head>

<body style="background-color:#ffffcc;">
<form action="selectScenario" method="get" style="margin-top: 50px">
    <input style="background-color:aqua; border-color:blue; color:black; height:50px;width:300px; margin-right: 30px; margin-left: 70px"
           type="submit" name="value" value="ДОВІДНИК"/>
    <input style="background-color:pink; border-color:blue; color:black; height:50px;width:300px; margin-right: 30px"
           type="submit" name="value" value="ПРОДАЖ ЛІКАРСЬКИХ ЗАСОБІВ"/>
    <input style="background-color:#66ff99; border-color:blue; color:black; height:50px;width:300px" type="submit"
           name="value" value="ЗВІТ"/>
</form>
</body>
</html>